<a href="https://colab.research.google.com/github/Shaista-sk/Python-Practice/blob/main/sk5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Basic `for`, `while`, and `range` Questions  

	1. Write a program using a `for` loop and `range()` to print numbers from 1 to 10.

In [ ]:
for num in range(1,11):
   print(num)

1
2
3
4
5
6
7
8
9
10

#	2. Write a program using a `while` loop to print the first 10 natural numbers

In [ ]:


num = 1           # starting point
while num <= 10:  # condition (runs until num is 10)
    print(num)
    num += 1

1
2
3
4
5
6
7
8
9
10

#	3. Print all even numbers between 1 and 50 using a `for` loop and `range()`.

In [ ]:
for num in range(1, 51):
    if (num % 2 == 0):   # check if number is divisible by 2
        print(num)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

# Print the sum of numbers from 1 to 100 using a `for` loop.

In [ ]:
sum = 0
for num in range(1, 101):   # range(1, 101) means 1 to 100
    sum += num            # adding each number to sum

print("The sum of numbers from 1 to 100 is:", sum)

The sum of numbers from 1 to 100 is: 5050

# Use a `while` loop to calculate the factorial of a number entered by the user.

In [ ]:


num = int(input("Enter a number: "))
factorial = 1
i = 1

while (i <= num):
    factorial= factorial*i   # multiply factorial by i
    i += 1           # move to next number

print("Factorial of", num, "is:", factorial)

Enter a number: 4
Factorial of 4 is: 24

# **Loop Patterns with `for` and `while**
6. Print the following pattern using a `for` loop:

In [ ]:
for i in range(1, 6):          # outer loop (rows)
    for j in range(i):         # inner loop (columns)
        print("*", end="")     # print stars in same line
    print()                    # move to next line

*
**
***
****
*****

7.	7. Print this pattern using nested `for` loops:  

   1  

   12  

   123  

   1234  
   
   12345

In [ ]:
for i in range(1,6):
  for j in range(i):
    print(j+1,end="")
  print()

1
12
123
1234
12345

8.	8. Create a loop pattern of stars in reverse:

In [ ]:
for i in range(5, 0, -1):       # outer loop (rows) from 5 to 1
    for j in range(i):          # inner loop prints i stars
        print("*", end="")
    print()                     # move to next line

*****
****
***
**
*

Write a `for` loop to print the multiplication table of any number entered by the user.

In [ ]:
num = int(input("Enter a number: "))

print(f"\nMultiplication Table of {num}\n")
for i in range(1, 11):   # loop from 1 to 10
    print(f"{num} x {i} = {num * i}")

Enter a number: 9

Multiplication Table of 9

9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

	10. Use a `while` loop to print the digits of a number in reverse order (e.g., 1234 â†’ 4 3 2 1).

In [ ]:
num = int(input("Enter a number: "))

print("Digits in reverse order:")
while num > 0:
    digit = num % 10      # get last digit
    print(digit, end=" ") # print digit
    num = num // 10       # remove last digit

Enter a number: 1234
Digits in reverse order:
4 3 2 1

# **Intermediate Logic with Loops**
	11. Print all prime numbers between 1 and 100 using a loop.

In [ ]:
print("Prime numbers between 1 and 100 are:")

for num in range(2, 101):          # numbers from 2 to 100
    is_prime = True                # assume prime

    for i in range(2, num):        # check all numbers from 2 to num-1
        if (num % i) == 0:           # if divisible
            is_prime = False
            break

    if is_prime:
        print(num, end=" ")

Prime numbers between 1 and 100 are:
2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

	12. Ask the user for a number and use a loop to check if it is a palindrome number

In [ ]:
num = int(input("Enter a number: "))
original = num
reverse = 0

while (num > 0):
    digit = num % 10           # get last digit
    reverse = reverse * 10 + digit  # build reversed number
    num = num // 10            # remove last digit

# check palindrome
if original == reverse:
    print(original, "is a Palindrome number.")
else:
    print(original, "is NOT a Palindrome number.")

Enter a number: 343
343 is a Palindrome number.

# Print the Fibonacci sequence up to 10 terms using a loop.

In [ ]:
#in Fiboacci Each number (after the first two) is the sum of the two numbers before it.

n = 10   # number of terms
a, b = 0, 1

print("Fibonacci sequence up to 10 terms:")

for i in range(n):
    print(a, end=" ")
    a, b = b, a + b   # update values

Fibonacci sequence up to 10 terms:
0 1 1 2 3 5 8 13 21 34

Count how many digits are in an integer entered by the user using a `while` loop

In [ ]:
num = int(input("Enter an integer: "))
count = 0

# handle 0 separately (since logics below won't work for 0)
if num == 0:
    count = 1
else:
    if num < 0:   # if number is negative, make it positive
        num = -num

    while num > 0:
        num //= 10     # remove last digit
        count += 1

print("Number of digits:", count)

Enter an integer: -9876
Number of digits: 4

Print a pattern of numbers in triangle form:  

   1  

   2 3  

   4 5 6  
   
   7 8 9 10

In [ ]:
num = 1  # starting number

for i in range(1, 5):
    for j in range(i):
        print(num, end=" ")
        num += 1
    print()

1
2 3
4 5 6
7 8 9 10