<a href="https://colab.research.google.com/github/Shaista-sk/Python-Practice/blob/main/sk6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Structures Part 1  

Subtopics: Lists & Tuples
1.	1. Write a Python program to create a list of 5 integers and print the list.

In [ ]:
number=[1,2,3,4,5]
print("The list of 5 integers: ",number)

The list of 5 integers:  [1, 2, 3, 4, 5]

Write a Python function that takes a list of numbers and returns the maximum value.

In [ ]:
def find_max(numbers):
    return max(numbers)
nums = [12, 45, 7, 89, 23]
print("Maximum value is:", find_max(nums))

Maximum value is: 89

Create a list of fruits and print the second and last elements.

In [ ]:
fruits = ["Apple", "Peach", "Mango", "Orange", "Grapes"]
print("Second fruit:", fruits[1])
print("Last fruit:", fruits[-1])

Second fruit: Peach
Last fruit: Grapes

. Write a program to remove all duplicates from a list.

In [ ]:
numbers = [1, 2, 3, 2, 4, 5, 1, 6, 3,4,5,7]
unique_numbers = list(set(numbers))
print("List without duplicates:", unique_numbers)

List without duplicates: [1, 2, 3, 4, 5, 6, 7]

Write a Python program to find the sum and average of elements in a list.

In [ ]:
numbers = [10, 20, 30, 40, 50]
total_sum = sum(numbers)
average = total_sum / len(numbers)
print("Sum of elements:", total_sum)
print("Average of elements:", average)

Sum of elements: 150
Average of elements: 30.0

Given a list of numbers, write a program to square each number and store the result in a new list

In [ ]:
numbers = [1, 2, 3, 4, 5]
squares = []
for num in numbers:
    squares.append(num ** 2)
print(squares)

[1, 4, 9, 16, 25]

Write a program to reverse a list without using built-in reverse() function.

In [ ]:
numbers = [5,4,3,2,1]
reversed_list = []
for i in range(len(numbers) - 1, -1, -1):
  reversed_list.append(numbers[i])
print("Original list:", numbers)
print("Reversed list:", reversed_list)

Original list: [5, 4, 3, 2, 1]
Reversed list: [1, 2, 3, 4, 5]

Check whether a specific item exists in a list or not.

In [ ]:
subjects = ["Math", "Physics", "Chemistry", "Biology", "Computer"]
item=input("Please enter the subject you wanna study:  ")
if item in subjects:
  print("Yes it is available")
else:
  print("Sorry this subject is not available")

Please enter the subject you wanna study:  Math
Yes it is available

Create a tuple with 6 elements. Print the first, third, and last element.

In [ ]:
numbers = (10, 20, 30, 40, 50, 60)
print("First Element ",numbers[0])
print("Third Element ",numbers[2])
print("Last Element ",numbers[0])

First Element  10
Third Element  30
Last Element  10

Write a Python program to convert a list into a tuple.

In [ ]:
numbers_list = [10, 20, 30, 40, 50]
converted_to_tuple=tuple(numbers_list)
print("In List Form ",numbers_list)
print("In Tuple form ",converted_to_tuple)

In List Form  [10, 20, 30, 40, 50]
In Tuple form  (10, 20, 30, 40, 50)

Write a program to count how many times an item appears in a tuple.

In [ ]:
numbers = (1, 2, 3, 2, 4, 2, 5, 3, 2)
item = int(input("Enter a number to count: "))
count = numbers.count(item)
print(f"{item} appears {count} times in the tuple.")

Enter a number to count: 2
2 appears 4 times in the tuple.

Given a tuple of numbers, write a program to find the minimum and maximum values

In [ ]:
numbers = (12, 45, 7, 89, 23, 56)
minimum = min(numbers)
maximum = max(numbers)
print("Tuple:", numbers)
print("Minimum value:", minimum)
print("Maximum value:", maximum)

Tuple: (12, 45, 7, 89, 23, 56)
Minimum value: 7
Maximum value: 89

Create a tuple of student names. Try modifying one element and observe the error.

In [ ]:
#As we know tuples are immutable
students = ("Shaista", "Eman", "Daniya", "Huzaifa", "Mubeen")
print("Original tuple:", students)
students[2] = "Zahra"

Original tuple: ('Shaista', 'Eman', 'Daniya', 'Huzaifa', 'Mubeen')

TypeError: 'tuple' object does not support item assignment

Write a program that merges two lists into one and removes duplicates.

In [ ]:
list1 = [1, 2, 3, 4, 5]
list2 = [3,4,5,6,7,7,8]
merged_list=list(set(list1+list2))
print("Merged List: ",merged_list)

Merged List:  [1, 2, 3, 4, 5, 6, 7, 8]

Given a list of numbers, write a program to find the second largest number.

In [ ]:
numbers = [12, 45, 23, 89, 45, 67, 89]
#we have sort the items so that largest number can be easily found
unique_numbers = list(set(numbers))
unique_numbers.sort()
# Check if there are at least 2 unique numbers
if len(unique_numbers) >= 2:
    print("Second largest number is:", unique_numbers[-2])
else:
  print("There is not enough unique numbers ")

Second largest number is: 67