<a href="https://colab.research.google.com/github/Shaista-sk/Python-Practice/blob/main/sk7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Structures - Part 2  
Sub Topics: Sets, Dictionary, String Methods

In [ ]:
#	1. Create a set from this list: [1, 2, 2, 3, 4, 4, 5]. Print the set.
nums = [1, 2, 2, 3, 4, 4, 5]
unique_nums = set(nums)
print(unique_nums)

{1, 2, 3, 4, 5}

In [ ]:
#Create a dictionary with your name, age, and city. Print the dictionary.
person = {
    "name": "Shaista",
    "age": 20,
    "city": "Taxila"
    }
print(person)

{'name': 'Shaista', 'age': 20, 'city': 'Taxila'}

In [ ]:
#. Use a string method to convert the string 'hello world' to uppercase.
text = "hello world"
upper_text = text.upper()
print(upper_text)

HELLO WORLD

In [ ]:
#Find the length of the string 'Python Programming'.
text="Pyhton Programming"
length=len(text)
print(length)

18

In [ ]:
#Check if the word 'apple' is in the set {'banana', 'apple', 'orange'}.
fruits={'banana','apple','orange'}
if "apple" in fruits:
   print("Yes the word apple is in the set")
else:
  print("No the word apple is not in the set")

Yes the word apple is in the set

In [ ]:
#Print all keys from the dictionary: {'name': 'Ali', 'age': 25, 'city': 'Lahore'}.
person={'name': 'Ali', 'age': 25, 'city': 'Lahore'}
print(person.keys())

dict_keys(['name', 'age', 'city'])

In [ ]:
#Use string method to count how many times 'a' appears in 'banana'.
word="banana"
count_of_a = word.count('a')
print(count_of_a)

3

In [ ]:
#Add an item to this set: {'red', 'green'}. Add 'blue'.
colors = {"red", "green"}
colors.add("blue")
print(colors)

{'red', 'blue', 'green'}

In [ ]:
#Change the value of 'age' in the dictionary {'name': 'Sara', 'age': 22} to 23.
person={'name': 'Sara', 'age': 22}
person['age'] = 23
print(person)

{'name': 'Sara', 'age': 23}

In [ ]:
#Remove the word 'cat' from the set {'cat', 'dog', 'mouse'}.
animals={'cat', 'dog', 'mouse'}
animals.remove('cat')
print(animals)

{'mouse', 'dog'}

In [ ]:
#Split the string 'apple, banana, orange' into a list using string method.
fruits='apple,banana,orange'
list_fruits= fruits.split(",")
print(list_fruits)

['apple', 'banana', 'orange']

In [ ]:
#Check if key 'city' exists in the dictionary {'name': 'Ali', 'city': 'Karachi'}.
person={'name': 'Ali', 'city': 'Karachi'}
if 'city' in person:
  print("Yes the Key 'city' is in the dictionary")
else:
   print("No, the Key 'city' is not in the dictionary")

Yes the Key 'city' is in the dictionary

In [ ]:
#Join the list ['Python', 'is', 'fun'] into a single string.
words=['Python', 'is', 'fun']
sentence = " ".join(words)
print(sentence)

Python is fun

In [ ]:
# Clear all items from the dictionary {'a': 1, 'b': 2}.
dic= {'a': 1, 'b': 2}
dic.clear()
print(dic)

{}

In [ ]:
#Use a string method to replace 'world' with 'Python' in the string 'hello world'.
original = 'hello world'
modified = original.replace("world","Python")
print(modified)

hello Python